<div class="grid grid-cols-1">
  <div
    class="bg-white h-[700px] mr-14 mt-20 gap-y-14 p-10 rounded-[35px] shadow-xl"
  >
    <h2 class="titulo-naranja">Contrato</h2>
    <hr class="bg-naranja h-1" />
    <div class="mx-10 my-48">
      <div class="text-center mt-14">
        <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
      </div>

      <h1 class="titulo text-center">Documento completado</h1>
      <div class="flex flex-row justify-center mt-3">
        <a routerLink="/contratacion/contrato/proceso_1"
          ><button
            class="bg-azul hover:bg-azul_claro text-white hover:text-azul text-2xl font-bold rounded-full py-3 px-6"
          >
            Volver al Principio
          </button></a
        >
      </div>
    </div>
  </div>
</div>
