<h2 class="text-center text-blue-500 font-bold text-3xl my-10">
  SECCIÓN TESTIMONIAL
</h2>
<div class="multiple-items mb-10">
  <div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img
      class="w-32 h-32 rounded-full my-5 mx-auto mt-4 border-4 border-gray-200"
      src="assets/images/perfiles/user1.png"
      alt="Profile Image"
    />
    <div class="p-6 text-center">
      <h2 class="text-2xl font-semibold mb-2">Title</h2>
      <p class="my-5 text-gray-700">
        This is a description of the card. It provides more details about the
        content presented in the card.
      </p>
    </div>
  </div>
  <div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img
      class="w-32 h-32 rounded-full my-5 mx-auto mt-4 border-4 border-gray-200"
      src="assets/images/perfiles/user2.png"
      alt="Profile Image"
    />
    <div class="p-6 text-center">
      <h2 class="text-2xl font-semibold mb-2">Title</h2>
      <p class="my-5 text-gray-700">
        This is a description of the card. It provides more details about the
        content presented in the card.
      </p>
    </div>
  </div>
  <div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img
      class="w-32 h-32 rounded-full my-5 mx-auto mt-4 border-4 border-gray-200"
      src="assets/images/perfiles/user3.png"
      alt="Profile Image"
    />
    <div class="p-6 text-center">
      <h2 class="text-2xl font-semibold mb-2">Title</h2>
      <p class="my-5 text-gray-700">
        This is a description of the card. It provides more details about the
        content presented in the card.
      </p>
    </div>
  </div>
  <div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img
      class="w-32 h-32 rounded-full my-5 mx-auto mt-4 border-4 border-gray-200"
      src="assets/images/perfiles/user4.png"
      alt="Profile Image"
    />
    <div class="p-6 text-center">
      <h2 class="text-2xl font-semibold mb-2">Title</h2>
      <p class="my-5 text-gray-700">
        This is a description of the card. It provides more details about the
        content presented in the card.
      </p>
    </div>
  </div>
  <div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img
      class="w-32 h-32 rounded-full my-5 mx-auto mt-4 border-4 border-gray-200"
      src="assets/images/perfiles/user5.png"
      alt="Profile Image"
    />
    <div class="p-6 text-center">
      <h2 class="text-2xl font-semibold mb-2">Title</h2>
      <p class="my-5 text-gray-700">
        This is a description of the card. It provides more details about the
        content presented in the card.
      </p>
    </div>
  </div>
  <div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img
      class="w-32 h-32 rounded-full my-5 mx-auto mt-4 border-4 border-gray-200"
      src="assets/images/perfiles/user6.png"
      alt="Profile Image"
    />
    <div class="p-6 text-center">
      <h2 class="text-2xl font-semibold mb-2">Title</h2>
      <p class="my-5 text-gray-700">
        This is a description of the card. It provides more details about the
        content presented in the card.
      </p>
    </div>
  </div>
  <div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden">
    <img
      class="w-32 h-32 rounded-full my-5 mx-auto mt-4 border-4 border-gray-200"
      src="assets/images/perfiles/user4.png"
      alt="Profile Image"
    />
    <div class="p-6 text-center">
      <h2 class="text-2xl font-semibold mb-2">Title</h2>
      <p class="my-5 text-gray-700">
        This is a description of the card. It provides more details about the
        content presented in the card.
      </p>
    </div>
  </div>
</div>
