<section class="bg-azul w-full h-36 rounded-b-[35px]">
  <div class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-2"></div>
      <div class="col-span-4 mt-10">
        <form>
          <label for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
          <div class="relative">
            <input type="search" id="default-search"
              class="block w-full p-4 pl-10 text-sm text-gray-900  bg-white rounded-full mt-10" placeholder="Buscar ..."
              required />
            <button type="submit"
              class="text-white absolute -right-3 bottom-0 bg-celeste hover:bg-azul rounded-full pt-7 pb-7 pl-10 pr-10">
              <div class="absolute inset-y-0 left-0 flex items-center pl-7 pointer-events-none">
                <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
              </div>
            </button>
          </div>
        </form>
      </div>
      <div class="col-span-2"></div>
      <div class="col-span-4 mt-5">
        <div class="grid grid-cols-8">
          <div class="col-span-2"></div>
          <div class="col-span-2">
            <img src="assets/images/img8.png" class="w-3/4">
          </div>
          <div class="col-span-2 font-bold text-white">
            <div>LEGAL</div>
            <div>LABOR</div>
            <div>SCAN</div>
          </div>
          <div class="col-span-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container fixed top-100 left-0 right-0 bg-gris_claro h-[700px] rounded-r-[40px] -z-10 mt-10">
    <div class="grid"></div>
  </div>
</section>
<aside></aside>
<section>
  <div class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-2">
        <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px] h-full">
          <img src="assets/images/img1.png" class="">
        </div>
      </div>
      <div class="col-span-10">
        <div class="grid grid-cols-1">
          <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px]">
            <h2 class="text-xl font-bold">Vencimiento</h2>
            <hr class="bg-celeste h-1" />

            <div class="grid grid-cols-12 mt-4">
              <div class="col-span-2 gap-y-40 font-bold text-lg">
                <h2 class="">15</h2>
              </div>
              <div class="col-span-7 font-bold text-lg">
                <h2>Pago de gratificaciones personal Administrativo</h2>
              </div>
              <div class="col-span-3">
                <button type="button"
                  class="text-naranja bg-naranja_claro hover:bg-naranja hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 focus:outline-none">
                  Pendiente
                </button>
              </div>
            </div>
            <hr />
            <div class="grid grid-cols-12 mt-4">
              <div class="col-span-2 gap-y-40 font-bold text-lg">
                <h2 class="">18</h2>
              </div>
              <div class="col-span-7 font-bold text-lg">
                <h2>
                  Firma de Contrato indeterminado - Trabajador Rafael Pérez
                </h2>
              </div>
              <div class="col-span-3">
                <button type="button"
                  class="text-verde bg-verde_claro hover:bg-verde hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 focus:outline-none">
                  Pendiente
                </button>
              </div>
            </div>
            <hr />
            <div class="grid grid-cols-12 mt-4">
              <div class="col-span-2 gap-y-40 font-bold text-lg">
                <h2 class="">25</h2>
              </div>
              <div class="col-span-7 font-bold text-lg">
                <h2>
                  Procedimiento de Denuncia N 15023 - Trabajador José Perez
                </h2>
              </div>
              <div class="col-span-3">
                <button type="button"
                  class="text-naranja bg-naranja_claro hover:bg-naranja hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 focus:outline-none">
                  Pendiente
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1">
          <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px]">
            <h2 class="text-xl font-bold">Tareas</h2>
            <hr class="bg-celeste h-1" />
            <div class="grid grid-cols-12 mt-4">
              <div class="col-span-2 gap-y-40 font-bold text-lg">
                <h2 class="">15</h2>
              </div>
              <div class="col-span-7 font-bold text-lg">
                <h2>Pago de gratificaciones personal Administrativo</h2>
              </div>
              <div class="col-span-3">
                <button type="button"
                  class="text-naranja bg-naranja_claro hover:bg-naranja hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 focus:outline-none">
                  Pendiente
                </button>
              </div>
            </div>
            <hr />
            <div class="grid grid-cols-12 mt-4">
              <div class="col-span-2 gap-y-40 font-bold text-lg">
                <h2 class="">18</h2>
              </div>
              <div class="col-span-7 font-bold text-lg">
                <h2>
                  Firma de Contrato indeterminado - Trabajador Rafael Pérez
                </h2>
              </div>
              <div class="col-span-3">
                <button type="button"
                  class="text-verde bg-verde_claro hover:bg-verde hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 focus:outline-none">
                  Pendiente
                </button>
              </div>
            </div>
            <hr />
            <div class="grid grid-cols-12 mt-4">
              <div class="col-span-2 gap-y-40 font-bold text-lg">
                <h2 class="">25</h2>
              </div>
              <div class="col-span-7 font-bold text-lg">
                <h2>
                  Procedimiento de Denuncia N 15023 - Trabajador José Perez
                </h2>
              </div>
              <div class="col-span-3">
                <button type="button"
                  class="text-naranja bg-naranja_claro hover:bg-naranja hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 focus:outline-none">
                  Pendiente
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-12">
          <div class="col-span-5">
            <div class="grid grid-cols-1">
              <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px]">
                <h2 class="text-xl font-bold">Cumpleaños</h2>
                <hr class="bg-azul h-1" />
                <div class=" flex justify-center">
                  <img class="" src="assets/images/img9.png" class="w-1/2 m-4">
                </div>

              </div>
            </div>
          </div>
          <div class="col-span-7">
            <div class="grid grid-cols-1">
              <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px]">
                <h2 class="text-xl font-bold">Ultimas Noticias</h2>
                <hr class="bg-celeste h-1" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>