<div class="grid grid-cols-1">
  <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px] shadow-xl">
    <h2 class="titulo-naranja">Contrato</h2>
    <hr class="bg-naranja h-1" />
    <div class="mx-10">
      <p class="mt-5 font-bold">
        Hola
        <span class="subtitulo-naranja">{{ datosRecuperados }}</span>
      </p>
      <p class="subtitulo mt-5">
        ¿Qué tipo de <span class="subtitulo-naranja">contrato</span> haremos
        hoy?
      </p>

      <select
        id="countries"
        class="bg-gray-50 border border-gray-100 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-10"
      >
        <option selected>Tipo de Contrato</option>
        <option value="US">Indeterminado</option>
        <option value="CA">Determinado</option>
        <option value="FR">Modal</option>
      </select>
      <div class="flex justify-end mt-20">
        <a routerLink="/contratacion/contrato/proceso_1"
          ><button class="boton-azul">Atras</button></a
        >
        <!-- <a routerLink="/contratacion/contrato/proceso_4"> -->
        <a routerLink="/test/angular/pdf">
          <button class="boton-naranja">Siguiente</button></a
        >
      </div>
      <span class="flex justify-center mt-10 gap-3">
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-900 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
      </span>
    </div>
  </div>
</div>
