<div class="container">
  <header>
    <h3 class="bg-blue-500 text-white p-4 text-center">Administrar Banners</h3>
  </header>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="my-10">
    <div class="form-group">
      <label for="image">Cargar Banner</label>
      <input
        type="file"
        formControlName="image"
        name="image"
        id="image"
        class="form-control"
        (change)="uploadImage($event)"
      />

      <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
        <div *ngIf="f['image'].errors['required']">Image is required</div>
      </div>
    </div>
    <button type="submit" class="boton-azul">Subir</button>
  </form>
  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="w-full divide-y divide-gray-200 table-auto">
      <thead class="bg-blue-500 text-white">
        <tr class="text-left text-xs font-bold uppercase">
          <td scope="col" class="px-6 py-3">Nombre</td>
          <td scope="col" class="px-6 py-3">Url</td>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr
          *ngFor="let item of listCategories"
          class="text-sm font-medium text-gray-900"
        >
          <td class="px-6 py-4">{{ item.nombre }}</td>
          <td class="px-6 py-4">
            <img src="{{ urlRaiz + item.url }}" alt="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
