<form (ngSubmit)="onSubmit()" [formGroup]="form" class="my-10">
  <div class="form-group">
    <label for="image">Cargar Imagen</label>
    <input
      type="file"
      formControlName="image"
      name="image"
      id="image"
      class="form-control"
      (change)="uploadImage($event)"
    />

    <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
      <div *ngIf="f['image'].errors['required']">Image is required</div>
    </div>
  </div>
  <button type="submit" class="boton-azul">Subir</button>
</form>
