<footer class="bg-white dark:bg-gray-900">
  <div class="w-full">
    <div
      class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-3 mx-auto max-w-screen-xl"
    >
      <div>
        <h2 class="font-bold text-lg">Somos Onedigitall Perú</h2>
        <p>
          Somos Onedigitall S.A.C empresa de capacitaciones y consultoría en
          herramientas digitales, inteligencia de negocio y analítica de datos.
        </p>
      </div>
      <div>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a routerLink="/" class="hover:underline">INICIO</a>
          </li>
          <li class="mb-4">
            <a routerLink="/cursos" class="hover:underline">CURSOS</a>
          </li>
          <li class="mb-4">
            <a routerLink="/especialidades" class="hover:underline"
              >ESPECIALIDADES</a
            >
          </li>
          <li class="mb-4">
            <a routerLink="/contacto" class="hover:underline">CONTACTO</a>
          </li>
        </ul>
      </div>
      <div>
        <h2>Mantente en contacto</h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
          <li class="mb-4">
            <a routerLink="/" class=""
              ><fa-icon
                class="text-[50px] text-blue-500"
                [icon]="faHand"
              ></fa-icon
              >https://dmc.pe</a
            >
          </li>
          <li class="mb-4">
            <a routerLink="/cursos" class="">+51995900126</a>
          </li>
          <li class="mb-4">
            <a routerLink="/especialidades" class=""
              >asistente.academico&#64;dmc.pe</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="px-4 py-6 bg-gray-100 dark:bg-gray-700 md:flex md:items-center md:justify-center"
    >
      <span
        class="text-sm text-gray-500 dark:text-gray-300 sm:text-center md:mx-10"
      >
        Copyright ©2024 ONE DIGITALL CONSULTING. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
