<div class="py-5">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">
      <!--Tabla lista de items   -->
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <div class="grid grid-cols-2 gap-4">
          <div class="col-span-1">Id:</div>
          <div class="col-span-1">{{ datos_mision.id_mision }}</div>
          <div class="col-span-1">Imagen:</div>
          <div class="col-span-1">{{ datos_mision.imagen_mision }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
