<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="">
      <header class="bg-blue-300 text-white p-1">Header</header>
      <nav>
        <div class="relative z-50">
          <app-navbar-dropdown></app-navbar-dropdown>
        </div>
        <div class="relative z-40">
          <app-carousel></app-carousel>
        </div>
      </nav>

      <div class="container mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>

    <app-footer-1></app-footer-1>
  </body>
</html>
