<!-- <app-interpolacion></app-interpolacion> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-class-binding></app-class-binding> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-formulario></app-formulario> -->

<!-- <app-ngif></app-ngif> -->

<!-- <div>
  <h1 class="text-red-300">{{ title }}</h1>
  <input type="text" class="" [(ngModel)]="title" />

  <app-children [title]="title"></app-children>
</div> -->

<!-- <app-maqueta></app-maqueta> -->

<!-- <app-grid></app-grid> -->

<!-- <h1 class="text-red-300">Bienvenidos</h1>
<router-outlet></router-outlet> -->

<!-- <app-container></app-container> -->

<!-- <app-position></app-position> -->

<!-- <app-layout></app-layout> -->

<!-- <app-sticky></app-sticky> -->

<app-flexbox-basico></app-flexbox-basico>
