<!-- <app-navigation></app-navigation>

<router-outlet></router-outlet>

<app-footer></app-footer> -->

<app-navbar></app-navbar>

<section>
    <div class="container fixed top-100 left-0 right-0 bg-gris_claro h-[900px] rounded-r-[40px] -z-10 mt-10">
        <div class="grid"></div>
    </div>
</section>
<aside></aside>
<section>
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-2">
                <div class="bg-white mr-14 mt-20 gap-y-14 py-10 px-5 rounded-[35px] h-full">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
            <div class="col-span-10">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</section>