<div class="grid grid-cols-1">
  <div class="bg-white mr-14 mt-20 gap-y-14 p-10 rounded-[35px] shadow-xl">
    <h2 class="titulo-naranja">Contrato</h2>
    <hr class="bg-naranja h-1 mb-10" />

    <iframe
      id="pdfViewer"
      src="assets/pdfs/contrato.pdf"
      class="w-full h-[1000px] mt-10] border-none"
    ></iframe>

    <div class="mx-10">
      <div class="flex justify-end mt-20">
        <a routerLink="/contratacion/contrato/proceso_7"
          ><button class="boton-azul">Atras</button></a
        >
        <a routerLink="/contratacion/contrato/proceso_9">
          <button class="boton-naranja">Completar</button>
        </a>
      </div>
      <span class="flex justify-center mt-10 gap-3">
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-900 rounded-full"></span>
        <span class="w-3 h-3 bg-gray-200 rounded-full"></span>
      </span>
    </div>
  </div>
</div>
