<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="">
      <header class="bg-blue-300 text-white p-1">Header</header>
      <nav>
        <!-- <app-navbar-basico></app-navbar-basico> -->
        <app-navbar-dropdown></app-navbar-dropdown>
      </nav>
      <div class="container mx-auto">
        <div class="grid sm:grid-cols-4 gap-4">
          <div class="p-3 rounded-md">
            <aside>
              <header class="text-center">Menu</header>
              <ul class="bg-orange-100 mt-3 p-3 rounded-md">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <app-dropdown-basico></app-dropdown-basico>
              </ul>
            </aside>
          </div>

          <div class="sm:col-span-3">
            <section class="bg-green-100 p-3 rounded-md my-4">
              <p class="py-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
                vel voluptatum veniam nam nihil quis nemo labore rem sequi,
                aperiam doloremque consequatur pariatur porro ab officiis,
                assumenda doloribus laboriosam quas.
              </p>
              <app-modal-basico></app-modal-basico>
            </section>
            <section class="bg-green-100 p-3 rounded-md my-4">
              <p class="py-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
                vel voluptatum veniam nam nihil quis nemo labore rem sequi,
                aperiam doloremque consequatur pariatur porro ab officiis,
                assumenda doloribus laboriosam quas.
              </p>
            </section>
            <section class="bg-green-100 p-3 rounded-md my-4">
              <p class="py-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
                vel voluptatum veniam nam nihil quis nemo labore rem sequi,
                aperiam doloremque consequatur pariatur porro ab officiis,
                assumenda doloribus laboriosam quas.
              </p>
            </section>
          </div>
        </div>
      </div>

      <footer class="bg-black text-white p-4 fixed bottom-0 w-full">
        footer
      </footer>
    </div>
  </body>
</html>
