<div class="container w-[90%] mx-auto">
  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-3 bg-gray-200 p-10">
      <h2
        class="text-xl sm:text-2xl md:text-3xl text-gray-700 font-semibold mb-4 leading-tight font-subtitulo border-b-8 inline border-blue-400"
      >
        {{ listCursos.nombre }}
      </h2>

      <div [innerHTML]="listCursos.descripcion" class="mt-5"></div>

      <div class="flex justify-end mt-4">
        <a href="#" class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
          >Descargar brochure</a
        >
      </div>
    </div>
    <div class="col-span-2 bg-gray-300 p-4">
      <img src="{{ urlRaiz + listCursos.ruta_imagen }}" alt="" />

      <div class="p-5 m-3 bg-gray-100">
        <strong>DURACION: </strong> {{ listCursos.duracion }}
      </div>

      <div class="p-5 m-3 bg-gray-100">
        <strong>OBSERVACION: </strong> {{ listCursos.observacion }}
      </div>
      <div class="p-5 m-3 bg-gray-100">
        <strong>COSTO: </strong> {{ listCursos.precio }}
      </div>
    </div>
  </div>
</div>
