<div class="container mt-4">
  <header class="bg-gray-400 text-base p-2 mb-2 text-center">
    <h1>Register</h1>
  </header>

  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-6">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
        >Name</label
      >
      <input
        type="name"
        formControlName="name"
        name="name"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Enter name"
        [ngClass]="{ 'is-invalid': submitted && name.errors }"
        required
      />
      <div *ngIf="submitted && name.errors" class="invalid-feedback texto-rojo">
        <div *ngIf="name.errors?.['required']">Name is required</div>
      </div>
    </div>
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
        >Email</label
      >
      <input
        type="email"
        formControlName="email"
        name="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Enter email"
        [ngClass]="{ 'is-invalid': submitted && email.errors }"
        required
      />
      <div
        *ngIf="submitted && email.errors"
        class="invalid-feedback texto-rojo"
      >
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
        >password</label
      >
      <input
        type="password"
        formControlName="password"
        name="password"
        id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Enter password"
        required
      />
      <div
        *ngIf="submitted && password.errors"
        class="invalid-feedback texto-rojo"
      >
        <div *ngIf="password.errors?.['required']">Password is required</div>
        <div *ngIf="password.errors?.['minlength']">
          Password must be atleast 6 characters
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label
        for="confirm_password"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Confirm password</label
      >
      <input
        type="password"
        formControlName="confirmPassword"
        name="confirm_password"
        id="confirm_password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Enter Confirm Password"
        required
      />
      <div
        *ngIf="submitted && confirmPassword.errors"
        class="invalid-feedback texto-rojo"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          Confirm Password is required
        </div>
        <div *ngIf="confirmPassword.errors?.['mustMatch']">
          Password must be atleast 6 characters
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      Register
    </button>
  </form>
</div>
