<img src="assets/images/img1.png" class="" />
<br />
<a routerLink="/test/maqueta/dashboard"><img class="w-1/2 mt-10 ml-10" src="assets/images/img7.png" /></a>

<a routerLink="/test/maqueta/contratacion/contrato"><img class="w-1/2 mt-10 ml-10" src="assets/images/img6.png" /></a>

<img class="w-1/2 mt-10 ml-10" src="assets/images/img5.png" />

<img class="w-1/2 mt-10 ml-10" src="assets/images/img4.png" />

<img class="w-1/2 mt-10 ml-10" src="assets/images/img3.png" />

<img class="w-1/2 mt-10 ml-10" src="assets/images/img2.png" />